* {  /*Aplica a todos os elementos */
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}      
.destaque { /*Reutilizavel em varios elementos */
    color: blue;
    font-weight: bold;
}
#titulo-principal { /*Único, para um elemento especifico*/
    color: red;
    text-align: center;
}
p { /*Altera todos os elementos daquela tag*/
    font-size: 30px;
    line-height: 1,5;
}
h1, h2, h3 { /* Agrupamento de seletores*/
    font-family: Arial, sans-serif;
    color: darkgreen;
}
h4 {
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: purple;
    text-align: center;
    font-size: large;
}
img {
    width: 300px;
    border: 3px solid red;
    display:  block;
    margin: auto;
}

ul {
    list-style-type:lower-roman;
}